
@{
    ViewData["Title"] = "HotWeather";
}

<h1>Fun + Funky OR Easy + Refreshing?</h1>

<form>
    <label for="FunFunky">Fun and Funky</label>
    <div></div>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="FunFunky">Fun</button><div></div>
    <label for="EasyRefreshing">Easy and Refreshing</label>
    <div></div>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="EasyRefreshing">Refreshing</button>
</form>
