
@{
    ViewData["Title"] = "Beer Genuis";
}

    <div class="text-center">
        <h1>Beer Genuis</h1>
    </div>

<div>
    <p>@Html.ActionLink("Follow Your Taste Buds", "Question1", "Home")</p>
</div>

