
@{
    ViewData["Title"] = "No Exercise";
}

<h1>Ok so no exercise! I get it! You must be enjoying this brew with grub. What are you eating?</h1>
<form>
    <label for="HeavyMeal">A big hearty meal</label>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="HeavyMeal">Big Meal</button>
    <label for="LightMeal">A small, light meal</label>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="LightMeal">Light Meal</button>
    <label for="Dessert">Desserts or sweets</label>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="Dessert">Dessert</button>
</form>

