
@{
    ViewData["Title"] = "Question2";
}

<h1>I'll be enjoying this outside</h1>
<form>
    
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="Outside">True</button>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="Inside">False</button>
</form>

