
@{
    ViewData["Title"] = "AboutCraftBeer";
}

<h1>AboutCraftBeer</h1>
<p>
    Simply put, craft beer is a beer that is not brewed by one of the big "mega-brewery" corporations. 
    More often than not, when the phrase craft beer is used, this is what it means. 
    However, it is a rather imprecise thing to define something by what it is not, so let's take it a bit further.
</p>


    <h3>What Is Craft Beer?</h3>
    <p>
        The Brewer's Association in Boulder, Colorado defines 'craft beer' as beer made by a brewer that is small,
        independent, and traditional. This sums it up rather nicely and for the association, it creates a good
        foundation so drinkers know what they are talking about.
    </p>  

<p>
    However, there is some very good beer being made today by brewers that don't exactly fit these qualifications. 
    So, it should be pointed out that just because beer is or is not considered 'craft beer,' this does not mean 
    that the beer is good (or not).
</p>
