
@{
    ViewData["Title"] = "AboutCraftBeer";
}

<div style="text-align: center;">
    <div class="wordart italic-outline"><span class="text">About Craft Beer</span></div>
</div>
    <div style="display: flex; flex-flow: column nowrap;
    background-color: rgba( 250, 250, 250, 0.7 ); box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.3 ); border-radius: 3px;
    margin: 25px 0px; padding: 20px; color: #222222;">

        <p>
            Simply put, craft beer is a beer that is not brewed by one of the big "mega-brewery" corporations.
            More often than not, when the phrase craft beer is used, this is what it means.
            However, it is a rather imprecise thing to define something by what it is not, so let's take it a bit further.
        </p>

    </div>
<div style="text-align: center;">
        <div class="wordart italic-outline"><span class="text">What Is Craft Beer?</span></div>
</div>
    <div style="display: flex; flex-flow: column nowrap;
    background-color: rgba( 250, 250, 250, 0.7 ); box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.3 ); border-radius: 3px;
    margin: 25px 0px; padding: 20px; color: #222222;">
        <p>
            The Brewer's Association in Boulder, Colorado defines 'craft beer' as beer made by a brewer that is small,
            independent, and traditional. This sums it up rather nicely and for the association, it creates a good
            foundation so drinkers know what they are talking about.
        </p>
        <p>
            However, there is some very good beer being made today by brewers that don't exactly fit these qualifications.
            So, it should be pointed out that just because beer is or is not considered 'craft beer,' this does not mean
            that the beer is good (or not).
        </p>

    </div>
