@model  IndividualStyle

@{
    ViewData["Title"] = "BeerChoice";
}

<h1>BeerChoice</h1>

<p>
    
</p>

<p>
    @ViewData["MostPopular"]
    The most popular beer overall is
    @Model.data.name
</p>