@model IndividualStyle

@{
    ViewData["Title"] = "BeerChoice";
}


<div class="wordart italic-outline"><span class="text">Most popular style</span></div>
<p>

</p>

<h1>
    @ViewData["MostPopular"]
    The most popular beer style overall is
    @Model.data.name
</h1>

