@model IndividualStyle

@{
    ViewData["Title"] = "BeerChoice";
}


<div class="wordart italic-outline"><span class="text">Most popular style</span></div>
<p>

</p>

<h1>
The most popular beer style overall is
@Model.data.name and was chosen  @ViewData["MostPopular"] times!
</h1>
<div></div>
<h2>
    The alcohol content is between @Model.data.abvMax and @Model.data.abvMin
</h2>

