@model IndividualStyle

@{
    ViewData["Title"] = "DisplayFinalResults";
}


<div class="wordart italic-outline"><span class="text">Your Flavor Profile</span></div>

<table class="table" style="color:white;">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            ABV
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Model.data.name
        </td>
        <td>
            @Model.data.description
        </td>
        <td>
            @Model.data.abvMax
        </td>
    </tr>

</table>