@model IndividualStyle

@{
    ViewData["Title"] = "DisplayFinalResults";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-light-grey w3-round-xlarge">
    <div class="w3-container w3-orange w3-round-xlarge" style="width:100%">100%</div>
</div>

<div class="wordart italic-outline"><span class="text">Your Flavor Profile</span></div>

<table class="table" style="color:white;">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            ABV
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Model.data.name
        </td>
        <td>
            @Model.data.description
        </td>
        <td>
            @Model.data.abvMax
        </td>
    </tr>

</table>