@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model  IndividualStyle

@{
    ViewData["Title"] = "Home Page";
}


    <body>
        @if (Model.data == null)
        {
            <p>
              Nobody has taken the test today!
            </p>
        }
        else
	    {
	         <p>
                 The most popular flavor today is 
                 @Model.data.name
             </p>
	    }
        <div class="text-center">

            <div class="wordart italic-outline"><span class="text">Beer Genius</span></div>

            @if (@HttpContextAccessor.HttpContext.Session.GetString("User") == null)
            {
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Registration">Register</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
            }
            else
            {
                <div class="wordart italic-outline"><span class="text">Welcome @HttpContextAccessor.HttpContext.Session.GetString("User")</span></div>
                <a class="nav-link" asp-controller="Home" asp-action="StartSurvey">Start Survey</a>
            }
        </div>
    </body>



