@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}


<body>

    <div class="text-center">

        <div class="wordart italic-outline"><span class="text">Beer Genius</span></div>

        @if (@HttpContextAccessor.HttpContext.Session.GetString("User") == null)
        {
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Registration">Register</a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        }
        else
        {
            <h3> Welcome @HttpContextAccessor.HttpContext.Session.GetString("User")</h3>
            <a class="nav-link" asp-controller="Home" asp-action="StartSurvey">Start Survey</a>
        }
    </div>
</body>



