@model IndividualStyle

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "UserProfile";
}

<div class="wordart italic-outline"><span class="text">Your Flavor Profiles</span></div>

<div class="container">
    <div class="row">
        <h2>Flavor Profiles</h2>
    </div>
</div>

