
@{
    ViewData["Title"] = "ComfortableWeather";
}
<h1>This better be good because I'm going to do some heavy exercise!</h1>
<form>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="Exercise">True</button>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="NoExercise">False</button>
</form>