
@{
    ViewData["Title"] = "Exercise";
}

<h1>Now a question about your personality. Enigmatic and complex things get me excited! </h1>
<form>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="YesChallenges">True</button><div></div>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="NoChallenges">False</button><div></div>
    <button type="submit" class="btn btn-primary" formmethod="post" asp-action="CheapStuff">IDFC!</button>
</form>

