@model UserFlavorProfile

@{
    ViewData["Title"] = "Question1";
}

<h1>Would you like a beer that is hoppy?</h1>

<form asp-controller="Home" asp-action="AddValue" method="post">
    <input asp-for="Hop" type="radio" value=1 />1<br />
    <input asp-for="Hop" type="radio" value=2 />2<br />
    <input asp-for="Hop" type="radio" value=3 />3<br />
    <input asp-for="Hop" type="radio" value=4 />4<br />
    <input asp-for="Hop" type="radio" value=5 />5<br />
    <input type="submit" />;
</form>