
@{
    ViewData["Title"] = "Roasty";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-light-grey w3-round-xlarge">
    <div class="w3-container w3-orange w3-round-xlarge" style="width:70%">70%</div>
</div>

<h1>Would you like a beer that has a rich and roasty taste?</h1>

<form asp-controller="Home" asp-action="Roasty" method="post">
    <button type="submit" value=1 name="questionResult">No, I don't want an overly rich beer</button>
    <button type="submit" value=2 name="questionResult">A somewhat robust beer is accetable</button>
    <button type="submit" value=3 name="questionResult">Yes, I like rich flavors like coffee and chocolate</button>
</form>