
@{
    ViewData["Title"] = "Roasty";
}

<h1>Would you like a beer that has a roasted taste?</h1>

<form asp-controller="Home" asp-action="Roasty" method="post">
    <input type="radio" value=1 name="questionResult" />1<br />
    <input type="radio" value=2 name="questionResult" />2<br />
    <input type="radio" value=3 name="questionResult" />3<br />
    <input type="submit" />
</form>
