
@{
    ViewData["Title"] = "Sweetness";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-light-grey w3-round-xlarge">
    <div class="w3-container w3-orange w3-round-xlarge" style="width:80%">80%</div>
</div>

<h1>Would you like a beer that has a sweet or sugary flavor?</h1>

<form asp-controller="Home" asp-action="Sweetness" method="post">
    <button type="submit" value=1 name="questionResult">No, I don't want sweet flavors in my beer</button>
    <button type="submit" value=2 name="questionResult">Some sweet flavors are acceptable</button>
    <button type="submit" value=3 name="questionResult">Yes, I'd like a noticeable sweetness to my beer</button>
</form>

