
@{
    ViewData["Title"] = "Sweetness";
}

<h1>Would you like a beer that is sweet?</h1>

<form asp-controller="Home" asp-action="Sweetness" method="post">
    <input type="radio" value=1 name="questionResult" />No<br />
    <input type="radio" value=2 name="questionResult" />Not Sure<br />
    <input type="radio" value=3 name="questionResult" />Yes<br />
    <input type="submit" />
</form>

